p{
		font-size: 20px;
		font-family: cursive;
		color: black;
		font-weight: 400;
	}
	body{
		font-size: 20px;
		font-family: Times New Roman;
		color: black;
		font-weight: 400;
		background-attachment: fixed;
		background-image: url("../images/fon_shop1.png");
		background-size: cover;
	}
	
	.text{
		box-sizing: border-box;
		border-top: 2px dotted;
		padding-left: 3%;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-right: 3%;
		background: LightSteelBlue;
		background-size: 100% 340px;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 1px;
		text-align: justify;
		background-image: linear-gradient(to right, azure, lightsteelblue);
		font-family: cursive;
	}
	
	#silka2{
		margin: 0;
		padding: 0;
	}
	#top{
		height: 50px;
		list-style: none;
		margin-left: 10%;
		margin-right: 10%;
	}
	#top > ul > li{
		float: left;
		height: 50px;
		width: 24%;
		position: relative;
		list-style: none;
		height: auto;
		background: Turquoise;
		text-decoration: none;
		display: block;
		border: 1px solid;
		border-radius: 30px;
		font-size: 14px;
		font-family: Arial;
		text-align: center;
		line-height: 50px;
		transition: 0.5s ease-in-out;
	}
	#top > ul > li > ul > li{
		list-style: none;
		height: 35px;
		padding-top: 5px;
		padding-bottom: 20px;
		text-align: center;
		margin-left: 0px;
		line-height: 50px;
	}
	#top > ul{
		background: Turquoise;
		text-decoration: none;
		display: block;
		font-family: Arial;
		text-align: center;
		list-style: none;
	}
	#top li .vipad{
		display: none;
		position: absolute;
		top: 100%;
		border: 1px solid;
		border-radius: 30px;
	}
	#top  li:hover .vipad{
		display: block;
	}
	.vipad{
		background: PaleTurquoise;
		width: 100%;
		padding-top: 0;
		height: 185px;
		padding-left: 0;
		z-index: 2;
	}
	#top li a{
		text-decoration: none;
		text-align: center;
		color: MediumBlue;
	}
	.vipad li {
		border: 1px solid;
		border-radius: 30px;
		margin-left: 0px;
		transition: 0.5s ease-in-out;
	}
	#top li:hover{
		background-color: DarkTurquoise;
	}
	#cart{
		width: 100%;
	}
	#cort{
		border: 1px solid;
	}
	#cort th{
		border: 1px solid;
		padding: 5px;
		text-align: center;
	}
	.zakaz{
		width: 95%;
	}
	fieldset{
		background-color: LightBlue;
	}
	#btn{
		height: 70px;
		background-color: DodgerBlue;
		font-size: 24px;
		border-radius:20px;
	}
	#korz{
		border: 1px solid;
		width: 100%;
	}
	#korz th{
		border: 1px solid;
		padding: 5px;
		text-align: center;
	}
	.del{
	    background-color: Crimson;
	}
	#nevidimka{
	    display:none;
	}
	#niz1{
		font-size: 14px;
		font-family: arial;
		text-decoration: none;
		white-space: nowrap;
	}
	#niz1:visited{
		font-size: 14px;
		font-family: arial;
		text-decoration: none;
		white-space: nowrap;
	}
	.niz{
		background: Turquoise;
		font-family: arial;
		padding-left: 5%;
	}
	