version: '3.8'
services:
  backend:
    image: ${DOCKER_USERNAME}/zotsport-backend1:latest
    build:
      context: .
      dockerfile: docker-backend/Dockerfile
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - mynetwork
    volumes:
      - ./public_html/db:/var/www/html/db_copy
      - ./public_html/db:/var/www/html/db
    depends_on:
      sqlite:
        condition: service_completed_successfully
    environment:
      - SMTP_PASSWORD=jzaJsWZ26ZF5M8Q3HdYK
  frontend:
    image: ${DOCKER_USERNAME}/zotsport-frontend1:latest
    build:
      context: .
      dockerfile: frontend-react/Dockerfile
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - mynetwork
  sqlite:
    image: ${DOCKER_USERNAME}/zotsport-sqlite1:latest
    build:
      context: .
      dockerfile: docker-sqlite/Dockerfile
    restart: "no"
    deploy:
      replicas: 1
      restart_policy:
        condition: none
    networks:
      - mynetwork
  proxy:
    image: ${DOCKER_USERNAME}/zotsport-proxy1:latest
    build:
      context: .
      dockerfile: proxy/Dockerfile
    ports:
      - "80:80"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - mynetwork
    depends_on:
      - backend
      - frontend
networks:
  mynetwork:
    driver: bridge