@keyframes rotateY1 {
  0% {
    transform: rotateY(-180deg);
    opacity: 0.8;
  }
  40% {
    transform: rotateY(-180deg);
    opacity: 1;
  }
  50% {
    transform: rotateY(0);
    opacity: 1;
  }
  90% {
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 0.8;
  }
}

@keyframes rotateY2 {
  0% {
    transform: rotateY(0);
    opacity: 0.8;
  }
  40% {
    transform: rotateY(0);
    opacity: 1;
  }
  50% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  90% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 0.8;
  }
}

@keyframes progressFill {
  0% {
    width: 0%;
  }
  50% {
    width: 10%;
  }
  50.1% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}

@keyframes btnClick {
  0% {
    transform: scale(1);
    background-color: #c0ccad;
    color: #474747;
  }
  50% {
    transform: scale(1.1);
    background-color: #4caf50;
    color: white;
  }
  100% {
    transform: scale(1);
    background-color: #4caf50;
    color: white;
  }
}
