@keyframes rotateY1 {
  0% {
    transform: rotateY(-180deg);
  }
  40% {
    transform: rotateY(-180deg);
  }
  50% {
    transform: rotateY(0);
  }
  90% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotateY2 {
  0% {
    transform: rotateY(0);
  }
  40% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  90% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes btnClick {
  0% {
    transform: scale(1);
    background-color: #c0ccad;
    color: #474747;
  }
  50% {
    transform: scale(1.1);
    background-color: #4caf50;
    color: white;
  }
  100% {
    transform: scale(1);
    background-color: #4caf50;
    color: white;
  }
}
